
body {
  font-family: sans-serif;
}

#top {
  overflow: hidden;
  margin: 0 auto;
  width: 1000px;
}
.refreshedAt {
  font-size: 8px;
  color: #4c4;
  margin: 0 8px;
}
.refreshError {
  color: #c00;
  font-weight: bold;
}

.number {
  text-align: right;
}

.entry-table {
  background: #e8e8e8;
  margin: 2px;
  line-height: 1;
  font-family: monospace;
  font-size: 10px;
  overflow: hidden;
  white-space: nowrap;
}
.entry-selected {
  background: #ccc;
}
.entry-table > * {
  display: inline-block;
  background: #fff;
  margin: 2px;
}
.entry-ip {
  min-width: 100px;
  margin-right: 6px;
}
.entry-total {
  min-width: 40px;
}
.entry-action {
  width: 8px;
  text-align: center;
}

.bars-container {
  border: 2px solid #000;
}
ul.bars, ul.bars > li {
  height: 20px;
  margin: 0;
  padding: 0;
}
ul.bars > li {
  display: inline-block;
  overflow: hidden;
}
