doctype html
head(lang='fr')
  meta(charset='utf-8')
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title bebras monitor
body(id='app')
  div(id='react-container')
    div(style="margin: 10px auto; width: 100px;")
      img#gears(src='assets/gears.svg', style="width: 100%")
  script(type='text/javascript', src='build/vendor.js')
  script(type='text/javascript', src='build/index.js')
